<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mytable.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mytable.email %>
</p>

<%= link_to 'Edit', edit_mytable_path(@mytable) %> |
<%= link_to 'Back', mytables_path %>
